.DS_Store
node_modules/
.idea
.tmp
aot/
scripts/ionic-native-bower
scripts/docs-json/*.json
scripts/docs-json/typedoc-docs
dist/
src/@awesome-cordova-plugins/plugins/**/ngx
*.d.ts
injectable-classes.json

