import { Plugin, IonicNativePlugin } from '@ionic-native/core';
import { Injectable } from '@angular/core';

/**
 * @name {{ Plugin_Name }}
 * @description
 *
 * @usage
 * ```typescript
 * import { {{ PluginName }} } from '@ionic-native/{{ plugin-name }}';
 *
 *
 * constructor(private {{ pluginName }}: {{ PluginName }}) { }
 *
 * ...
 *
 *
 * ```
 */
@Plugin({
  pluginName: '{{ PluginName }}',
  plugin: '',
  pluginRef: '',
  repo: '',
  platforms: []
})
@Injectable()
export class {{ PluginName }} extends IonicNativePlugin {

}
