import { Plugin } from '@ionic-native/core';
import { Injectable } from '@angular/core';

/**
 * @name Plugin Name
 * @description
 *
 * @usage
 * ```
 * import { PluginName } from 'ionic-native';
 *
 *
 * ```
 */
@Plugin({
  pluginName: 'PluginName',
  plugin: '',
  pluginRef: '',
  repo: ''
})
@Injectable()
export class PluginName {

}
